<div class="row">
    <div class="col-6">
        <app-dona title="Frituras" [labels]="doughnutChartLabels1" [data]="doughnutChartData1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Antojitos" [labels]="doughnutChartLabels2" [data]="doughnutChartData2"></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title="Comida chatarra" [labels]="doughnutChartLabels3" [data]="doughnutChartData3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Desayunos" [labels]="doughnutChartLabels4" [data]="doughnutChartData4"></app-dona>
    </div>
</div>